body {
    text-align: center;
    font-size: xx-large;
    color: wheat;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border: 1px solid outset black;
    background-color: cornflowerblue;
}

.mBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    border: 2px solid darkolivegreen;
    height: 600px;
    width: 600px;
    margin: 10% auto;
    text-align: center;
}

.indivboxes {
    display: flex;
    background-color: lightsalmon;
    border: 2px solid darkolivegreen;
    width: 30%;
    height: 30%;
    box-sizing: border-box;
    font-size: 100px;
    text-align: center;
    justify-content: center;
}

.modal {
    background-color: olivedrab;
    padding: 30px;
    width: 50vw;
    max-width: 500px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    top: 45%;
    transform: translateY(-45%);
    left:0;
    right:0;
    margin: auto;
    /* display: none; */
}
.modal.close {
    display: none;
}
p {
    font-size: large;
}
b {
    color: orange;
}

button {
    font-size: xx-large;
    color: wheat;
    background-color: olive;
}